.home-header1 {
  color: black;
  text-align: center;
  margin: 40px;
  padding: 10px;
}

.home-header2 {
  color: black;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.home-header3 {
  color: black;
  text-align: center;
  margin: 30px;
  padding-bottom: 40px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  background-color: black;
  border: 2px solid transparent;
  color: gold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, border-color 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: goldenrod;
  color: black;
  transform: translateY(-2px);
  border-color: goldenrod;
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}