/*Dashboard css */
.dashboard-search {
  width: 80%;
  display: flex;
  margin: auto;
}

.dashboard-search-bar {
  /* FIXME: override global input styling (input tags should not have a global style) */
  flex-grow: 1 !important; 
  border-radius: 0px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  padding: 10px !important;
  border-width: 2px !important;
  border-color: black !important;
  border-style: solid !important;
  margin-bottom: 0px !important;
}

.dashboard-search-button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 10px;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dashboard-filter {
  width: 80%;
  margin: auto;
  margin-top: 16px;
  text-align: left;
}

.dashboard-filter > div {
  border-color: black
}

.dashboard-filter > div:hover {
  border-color: black
}

.user-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px;
}

.user-entry {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #c8e6f3;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.email {
  font-size: 12px;
  color: #555555;
}

.group-results {
  width: calc(80% + 20px);
  margin: 0 auto;
  margin-top: 32px;
  gap: 64px;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
}

.group-entry {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #c8e6f3;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  height: 100%;
}

.group-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 256px;
}

.group-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.group-participants {
  padding: 15px;
}

.group-button-wrapper {
  display: flex;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-content {
  flex-grow: 1;
  height: calc(100vh - 92px);
}

/* FIXME: create single file for button class */
.user-entry a,
.user-entry button {
  color: black;
  background: #8ed8fb;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.user-entry a:hover,
.user-entry a:focus,
.user-entry button:hover,
.user-entry button:focus {
  background: #99becf;
  transform: scale(1.10);
  border-radius: 10px;
}

.group-entry a {
  color: black;
  background: #8ed8fb;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.group-entry a:hover,
.group-entry a:focus {
  background: #99becf;
  transform: scale(1.10);
  border-radius: 10px;
}

.add-create-button {
  color: black;
  background: #8ed8fb;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  margin-left: 8px;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.add-create-button:hover,
.add-create-button:focus {
  background: #99becf;
  transform: scale(1.10);
  border-radius: 10px;
}

.group-name {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
  column-gap: 1rem;
}

.group-name p {
  margin: 0px;
}

.group-name input {
  flex-grow: 1;
}

.group-picker {
  justify-content: start;
  column-gap: 1rem;
}

.group-selector {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-radius: 9999px;
}

.group-selected {
  background-color: gray;
}