/*Dashboard css */
.dashboard-search {
  width: 80%;
  display: flex;
  margin: auto;
}

.dashboard-search-bar {
  /* FIXME: override global input styling (input tags should not have a global style) */
  flex-grow: 1 !important; 
  border-radius: 0px !important;
  border-top-left-radius: 16px !important;
  border-bottom-left-radius: 16px !important;
  padding: 10px !important;
  border-width: 2px !important;
  border-color: black !important;
  border-style: solid !important;
  margin-bottom: 0px !important;
}

.dashboard-search-button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 10px;
  background-color: white;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.dashboard-filter {
  width: 80%;
  margin: auto;
  margin-top: 16px;
  text-align: left;
}

.user-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0px;
}

.user-entry {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #bf9270;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

.user-container {
  display: flex;
  justify-content: space-between;
}

.username {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.email {
  font-size: 12px;
  color: #555555;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-content {
  flex-grow: 1;
  height: calc(100vh - 92px);
}

/* FIXME: create single file for button class */
.user-entry a {
  color: black;
  background: #edcdbb;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.user-entry a:hover,
.user-entry a:focus {
  background: #e3b7a0;
  transform: scale(0.90);
  border-radius: 10px;
}