.home-main-wrapper {
  background-image: url("../../public/home-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.home-main {
  backdrop-filter: blur(10px);
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.home-content {
  margin: auto;
  padding: 0 16px;
  padding-top: 0px;
  padding-bottom: 32px;
}

.home-content > * + * {
  margin: 0px;
  margin-top: 80px;
}

.home-content > h1 {
  font-size: 64px;
}

.home-content > h2 {
  font-size: 32px;
}

.home-start {
  display: flex;
  justify-content: center;
}

.home-start > a {
  color: black;
  background-image: url("../../public/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 50px 30px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.home-start > a:hover,
.home-start > a:focus {
  transform: scale(1.10);
  border-radius: 10px;
}