.navbar-wrapper {
  width: 100%;
  z-index: 1000;
}

.navbar {
  background: #bf9270;
  overflow: hidden;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
  z-index: inherit;
  text-align: center;
  border-bottom: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.navbar-component {
  display: flex;
  flex-basis: calc(50% - 108px);
}

.navbar-component-left {
  justify-content: flex-start;
}

.navbar-component-right {
  justify-content: flex-end;
}

/* FIXME: create single file for button class */
.navbar-component > a {
  color: black;
  background: #edcdbb;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.navbar-component > a:hover,
.navbar-component > a:focus {
  background: #e3b7a0;
  transform: scale(0.90);
  border-radius: 10px;
}

.navbar-header {
  flex-basis: 216px;
}

.navbar-header > a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}