.navbar-wrapper {
  width: 100%;
  z-index: 1000;
  top: 0;
}

.navbar {
  background: #8ed8fb;
  overflow: hidden;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: inherit;
  text-align: center;
  border-bottom: black;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

.navbar-component {
  display: flex;
  flex-basis: calc(50% - 108px);
}

.navbar-component-left {
  justify-content: flex-start;
}

.navbar-component-right {
  justify-content: flex-end;
}

.navbar-component > a {
  color: black;
  background-image: url("../../public/cloud.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 120px;
  padding: 20px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s, background-color 0.3s, transform 0.3s;
  border-radius: 10px;
  white-space: nowrap;
}

.navbar-component > a:hover,
.navbar-component > a:focus {
  transform: scale(1.10);
  border-radius: 10px;
}

.navbar-header {
  flex-basis: 216px;
}

.navbar-header > a {
  color: black;
  text-decoration: none;
  font-size: 1.5em;
}