.sidebar {
    top: 90px;
    left: 0;
    height: calc(100vh - 92px);
    width: 150px;
    background-color: #dbf7ff;
    display: flex;
    flex-direction: column;
    z-index: 500;
    border-right-style: solid;
  }

.sidebar a {
  padding: 10px 15px;
  color: black;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #99becf;
}

.sidebar a.active {
  background-color: #8ed8fb;
}

.sidebar .logout-divider {
  flex-grow: 1;
  border-top: 1px solid #666;
  margin: 10px 0;
}

.sidebar button {
  background: none;
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 30px;
}

.sidebar button:hover {
  background-color: #99becf;
}

.sidebar a:first-child, .sidebar button:first-child {
    margin-top: 20px;
}
  